---
---

@import "{{ site.theme }}";

#forkme_banner {display:none;}

.language-markdown {padding-bottom: 1em;}

#header_wrap.outer {background-color: #123456;}

section #main_content.inner {width: 1280px!important;}

#welcome-to-my-pages, h2 {width: 100%; text-align: center;}

#footer_wrap {background-color: #123456;}
