---
---

@import "{{ site.theme }}";

#forkme_banner {display:none;}

.language-markdown {padding-bottom: 1em;}

.header_wrap {background-color: red;}

#welcome-to-my-pages {width: 100%; text-align: center;}
