---
---

@import "{{ site.theme }}";

#forkme_banner {display:none;}

.language-markdown {padding-bottom: 1em;}

.header_wrap {background-color: #123456;}

#welcome-to-my-pages { text-align: center;}
